<nav class="breadcrumb">
  <a class="breadcrumb-item" routerLink="/admin/order">Order</a>
  <span class="breadcrumb-item active">Details</span>
</nav>

<div class="animated fadeIn">
  <div fxLayout="column" fxLayoutAlign="space-around stretch">
    <div class="card">
      <div class="card-header" style=" text-align: center;">
        <h5>รายละเอียดใบจัดส่ง</h5>
      </div>
      <div class="card-body">

        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6 col-lg-6">
                <p>
                  <b>รหัสใบจัดส่ง:</b>&nbsp;&nbsp; {{delivery.idDelivery}}
                </p>
              </div>
              <div class="col-md-6 col-lg-6">
                <p>
                  <b>วันที่:</b>&nbsp;&nbsp; {{delivery.date | date}}
                </p>
              </div>
            </div>
            <p>
              <b>ข้อมูลลูกค้า</b>
            </p>
            <div>
              <div class="row" style="margin-left: 3em;">
                <div class="col-md-6 col-lg-3">
                  <p>
                    <b>ชื่อ:</b>&nbsp;&nbsp; {{ (user.fname.length>15)? (user.fname | slice:0:15)+'..':(user.fname) }}
                  </p>
                </div>
                <div class="col-md-6 col-lg-3">
                  <p>
                    <b>นามสกุล:</b>&nbsp;&nbsp; {{ (user.lname.length>15)? (user.lname | slice:0:15)+'..':(user.lname) }}
                  </p>
                </div>
                <div class="col-md-6 col-lg-3">
                  <p>
                    <b>เบอร์โทร:</b>&nbsp;&nbsp; {{user.tel}}
                  </p>
                </div>
                <div class="col-md-6 col-lg-3">
                  <p>
                    <b>อีเมลล์:</b>&nbsp;&nbsp; {{ (user.email.length>20)? (user.email | slice:0:20)+'..':(user.email) }}
                  </p>
                </div>
                <div class="col-lg-12">
                  <p>
                    <b>ที่อยู่:</b>&nbsp;&nbsp; {{user.address}}
                  </p>
                </div>
                <div class="col-lg-12">
                  <p>
                    <b>จุดสังเกตใกล้ที่อยู่:</b>&nbsp;&nbsp; {{user.landmarks}}
                  </p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-lg-6">
                <p>
                  <b>จำนวนรายการอาหาร:</b>&nbsp;&nbsp; {{order.count}} ชุด
                </p>
              </div>
              <div class="col-md-6 col-lg-6">
                <p>
                  <b>ยอดเงินที่ต้องจ่าย:</b>&nbsp;&nbsp; {{order.total}} บาท
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-lg-6">
                <p>
                  <b>ชื่อผู้รับ:</b>&nbsp;&nbsp;{{delivery.signature}}
                </p>
              </div>
              <div class="col-md-6 col-lg-6">
                <p>
                  <b>สถานะการจัดส่ง:</b>&nbsp;&nbsp; {{delivery.statusDelivery}}
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- disabled={{isDisabled}} -->
        <div class="card">
          <div class="card-body">
            <p>
              <b>ยืนยันการรับสินค้า:</b>&nbsp;&nbsp;&nbsp;&nbsp;
              <button style="height: 2.5em;" type="button" class="btn btn-success" disabled={{isDisabledSignature}} (click)="signatureModal()">ลงชื่อ</button>
            </p>
            <p>
              <b>ไม่สามารถส่งสินค้าได้:</b>&nbsp;&nbsp;&nbsp;&nbsp;
              <button style="height: 2.5em;" type="button" class="btn btn-danger" disabled={{isDisabled}} (click)="setStatus(deliveryService.status[2])">{{deliveryService.status[2]}}</button>&nbsp;&nbsp;
              <button style="height: 2.5em;" type="button" class="btn btn-danger" disabled={{isDisabled}} (click)="setStatus(deliveryService.status[3])">{{deliveryService.status[3]}}</button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>