<nav class="breadcrumb">
  <a class="breadcrumb-item" routerLink="/admin/order">Order</a>
  <span class="breadcrumb-item active">Details</span>
</nav>

<div class="animated fadeIn">
  <div fxLayout="column" fxLayoutAlign="space-around stretch">
    <div class="card">
      <div class="card-header" style=" text-align: center;">
        <h5>รายละเอียดใบสั่งซื้อ</h5>
      </div>
      <div class="card-body">

        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6 col-lg-6">
                <p>
                  <b>รหัสใบสั่งซื้อ:</b>&nbsp;&nbsp; {{order.idOrder}}
                </p>
              </div>
              <div class="col-md-6 col-lg-6">
                <p>
                  <b>วันที่:</b>&nbsp;&nbsp; {{order.date | date}}
                </p>
              </div>
            </div>
            <p>
              <b>ข้อมูลลูกค้า</b>
            </p>
            <div>
              <div class="row" style="margin-left: 3em;">
                <div class="col-md-6 col-lg-3">
                  <p>
                    <b>ชื่อ:</b>&nbsp;&nbsp; {{ (user.fname.length>15)? (user.fname | slice:0:15)+'..':(user.fname) }}
                  </p>
                </div>
                <div class="col-md-6 col-lg-3">
                  <p>
                    <b>นามสกุล:</b>&nbsp;&nbsp; {{ (user.lname.length>15)? (user.lname | slice:0:15)+'..':(user.lname) }}
                  </p>
                </div>
                <div class="col-md-6 col-lg-3">
                  <p>
                    <b>เบอร์โทร:</b>&nbsp;&nbsp; {{user.tel}}
                  </p>
                </div>
                <div class="col-md-6 col-lg-3">
                  <p>
                    <b>อีเมลล์:</b>&nbsp;&nbsp; {{ (user.email.length>20)? (user.email | slice:0:20)+'..':(user.email) }}
                  </p>
                </div>
                <div class="col-lg-12">
                  <p>
                    <b>ที่อยู่:</b>&nbsp;&nbsp; {{user.address}}
                  </p>
                </div>
                <div class="col-lg-12">
                  <p>
                    <b>จุดสังเกตใกล้ที่อยู่:</b>&nbsp;&nbsp; {{user.landmarks}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <div style="margin-bottom: 1em;">
              <b>รายการอาหารที่สั่งซื้อ</b>
            </div>
            <div class="table-responsive">
              <table class="table ">
                <thead>
                  <tr class="table-secondary">
                    <th scope="col">#</th>
                    <th scope="col">รูป</th>
                    <th scope="col">ชื่ออาหาร</th>
                    <th scope="col">ราคา</th>
                    <th scope="col">จำนวน</th>
                    <th scope="col">ราคารวม</th>
                  </tr>
                </thead>
                <tbody *ngFor="let food of foods; let i = index;">
                  <tr class="table-light">
                    <td>{{i+1}}</td>
                    <td>
                      <img src="{{food.product.imageUrl}}" class="rounded mb-3" width="100em;">
                    </td>
                    <td>{{food.product.name}}</td>
                    <td>{{food.product.price}}</td>
                    <td>{{food.count}}</td>
                    <td>{{food.product.price * food.count}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- disabled={{isDisabled}} -->
        <div class="card">
          <div class="card-body">
            <div class="row justify-content-start">
              <p style="margin-left: 1.5em; margin-top: 0.5em; margin-right: 2em;">
                <b style="margin-right: 0.5em;">สถานะการสั่งซื้อ:</b>
                {{order.statusOrder}}
              </p>
              <button *ngIf="order.statusOrder === this.orderService.status[0]" style="height: 2.5em;" type="button" class="btn btn-primary" disabled={{isDisabled}} (click)="changeStatus(order)">รับออเดอร์</button>
              <button *ngIf="order.statusOrder === this.orderService.status[1]" style="height: 2.5em; margin-left: 1em;" type="button" class="btn btn-primary" disabled={{isDisabled}}  (click)="changeStatus(order)">ยืนยันการจัดส่ง</button>
              <div *ngIf="isCls" style="margin-top: 0.5em; margin-left: 1em;">หรือ</div>
              <button *ngIf="order.statusOrder === this.orderService.status[0]" style="height: 2.5em; margin-left: 1em;" type="button" class="btn btn-danger" disabled={{isDisabled}}  (click)="clsOrder(order)">ยกเลิกคำสั่งซื้อ</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>