<div class="animated fadeIn">
  <div fxLayout="column" fxLayoutAlign="space-around stretch">
    <div class="card" style="margin: 2em;">
      <div class="card-header">
        <div class="row justify-content-center">
          <H5>รายการจัดส่ง</H5>
        </div>
      </div>
      <div class="card-body" *ngIf="isDelivery">
        <div>
          <tabset>
            <tab heading="รอการจัดส่ง" id="tab1">
              <div class="table-responsive">
                <table class="table ">
                  <thead>
                    <tr class="table-secondary">
                      <th scope="col" style="width: 6em;">วันที่</th>
                      <th scope="col" style="width: 6em;">ชื่อลูกค้า</th>
                      <th scope="col" style="width: 5em;">เบอร์โทร</th>
                      <th scope="col" style="width: 8em;">สถานที่ส่ง</th>
                      <th scope="col" style="width: 5em;">ราคา</th>
                      <th scope="col" style="width: 6em;">ชื่อผู้รับ</th>
                      <th scope="col" style="width: 6em;">สถานะ</th>
                      <th scope="col" style="width: 1em;"></th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let d of deliverys; let i = index;">
                    <tr *ngIf="d.statusDelivery === deliveryService.status[0]" class="table-light">
                      <td>{{d.date | date }}</td>
                      <td>{{d.order.user.fname}}&nbsp;&nbsp;{{d.order.user.lname}}</td>
                      <td>{{d.order.user.tel}}</td>
                      <td *ngIf="d.order.user.address">{{ (d.order.user.address.length>20)? (d.order.user.address | slice:0:20)+'..':(d.order.user.address) }}</td>
                      <td *ngIf="!d.order.user.address"></td>
                      <td>{{d.order.total}}</td>
                      <td>
                        <img *ngIf="d.signature" [src]="d.signature" class="rounded mb-3" width="70em;">
                      </td>
                      <td>{{d.statusDelivery}}</td>
                      <td>
                        <button type="button" class="btn btn-warning" style="margin: 0.5em;" routerLink="./details/{{d.idDelivery}}">รายละเอียด
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </tab>
            <tab heading="รับสินค้าแล้ว">
              <div class="table-responsive">
                <table class="table ">
                  <thead>
                    <tr class="table-secondary">
                      <th scope="col" style="width: 6em;">วันที่</th>
                      <th scope="col" style="width: 6em;">ชื่อลูกค้า</th>
                      <th scope="col" style="width: 5em;">เบอร์โทร</th>
                      <th scope="col" style="width: 8em;">สถานที่ส่ง</th>
                      <th scope="col" style="width: 5em;">ราคา</th>
                      <th scope="col" style="width: 6em;">ชื่อผู้รับ</th>
                      <th scope="col" style="width: 6em;">สถานะ</th>
                      <th scope="col" style="width: 1em;"></th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let d of deliverys; let i = index;">
                    <tr *ngIf="d.statusDelivery === deliveryService.status[1]" class="table-light">
                      <td>{{d.date | date }}</td>
                      <td>{{d.order.user.fname}}&nbsp;&nbsp;{{d.order.user.lname}}</td>
                      <td>{{d.order.user.tel}}</td>
                      <td *ngIf="d.order.user.address">{{ (d.order.user.address.length>20)? (d.order.user.address | slice:0:20)+'..':(d.order.user.address) }}</td>
                      <td *ngIf="!d.order.user.address"></td>
                      <td>{{d.order.total}}</td>
                      <td>
                        <img *ngIf="d.signature" [src]="d.signature" class="rounded mb-3" width="70em;">
                      </td>
                      <td>{{d.statusDelivery}}</td>
                      <td>
                        <button type="button" class="btn btn-warning" style="margin: 0.5em;" routerLink="./details/{{d.idDelivery}}">รายละเอียด
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </tab>
            <tab heading="ไม่รับสินค้า">
              <div class="table-responsive">
                <table class="table ">
                  <thead>
                    <tr class="table-secondary">
                      <th scope="col" style="width: 6em;">วันที่</th>
                      <th scope="col" style="width: 6em;">ชื่อลูกค้า</th>
                      <th scope="col" style="width: 5em;">เบอร์โทร</th>
                      <th scope="col" style="width: 8em;">สถานที่ส่ง</th>
                      <th scope="col" style="width: 5em;">ราคา</th>
                      <th scope="col" style="width: 6em;">ชื่อผู้รับ</th>
                      <th scope="col" style="width: 6em;">สถานะ</th>
                      <th scope="col" style="width: 1em;"></th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let d of deliverys; let i = index;">
                    <tr *ngIf="d.statusDelivery === deliveryService.status[2]" class="table-light">
                      <td>{{d.date | date }}</td>
                      <td>{{d.order.user.fname}}&nbsp;&nbsp;{{d.order.user.lname}}</td>
                      <td>{{d.order.user.tel}}</td>
                      <td *ngIf="d.order.user.address">{{ (d.order.user.address.length>20)? (d.order.user.address | slice:0:20)+'..':(d.order.user.address) }}</td>
                      <td *ngIf="!d.order.user.address"></td>
                      <td>{{d.order.total}}</td>
                      <td>
                        <img *ngIf="d.signature" [src]="d.signature" class="rounded mb-3" width="70em;">
                      </td>
                      <td>{{d.statusDelivery}}</td>
                      <td>
                        <button type="button" class="btn btn-warning" style="margin: 0.5em;" routerLink="./details/{{d.idDelivery}}">รายละเอียด
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </tab>
            <tab heading="ติดต่อไม่ได้">
              <div class="table-responsive">
                <table class="table ">
                  <thead>
                    <tr class="table-secondary">
                      <th scope="col" style="width: 6em;">วันที่</th>
                      <th scope="col" style="width: 6em;">ชื่อลูกค้า</th>
                      <th scope="col" style="width: 5em;">เบอร์โทร</th>
                      <th scope="col" style="width: 8em;">สถานที่ส่ง</th>
                      <th scope="col" style="width: 5em;">ราคา</th>
                      <th scope="col" style="width: 6em;">ชื่อผู้รับ</th>
                      <th scope="col" style="width: 6em;">สถานะ</th>
                      <th scope="col" style="width: 1em;"></th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let d of deliverys; let i = index;">
                    <tr *ngIf="d.statusDelivery === deliveryService.status[3]" class="table-light">
                      <td>{{d.date | date }}</td>
                      <td>{{d.order.user.fname}}&nbsp;&nbsp;{{d.order.user.lname}}</td>
                      <td>{{d.order.user.tel}}</td>
                      <td *ngIf="d.order.user.address">{{ (d.order.user.address.length>20)? (d.order.user.address | slice:0:20)+'..':(d.order.user.address) }}</td>
                      <td *ngIf="!d.order.user.address"></td>
                      <td>{{d.order.total}}</td>
                      <td>
                        <img *ngIf="d.signature" [src]="d.signature" class="rounded mb-3" width="70em;">
                      </td>
                      <td>{{d.statusDelivery}}</td>
                      <td>
                        <button type="button" class="btn btn-warning" style="margin: 0.5em;" routerLink="./details/{{d.idDelivery}}">รายละเอียด
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </tab>
            <tab heading="ทั้งหมด">
              <div class="table-responsive">
                <table class="table ">
                  <thead>
                    <tr class="table-secondary">
                      <th scope="col" style="width: 1em;">#</th>
                      <th scope="col" style="width: 6em;">วันที่</th>
                      <th scope="col" style="width: 6em;">ชื่อลูกค้า</th>
                      <th scope="col" style="width: 6em;">เบอร์โทร</th>
                      <th scope="col" style="width: 8em;">สถานที่ส่ง</th>
                      <th scope="col" style="width: 5em;">ราคา</th>
                      <th scope="col" style="width: 6em;">ชื่อผู้รับ</th>
                      <th scope="col" style="width: 6em;">สถานะ</th>
                      <th scope="col" style="width: 1em;"></th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let d of deliverys; let i = index;">
                    <tr class="table-light">
                      <td>{{i+1}}</td>
                      <td>{{d.date | date }}</td>
                      <td>{{d.order.user.fname}}&nbsp;&nbsp;{{d.order.user.lname}}</td>
                      <td>{{d.order.user.tel}}</td>
                      <td *ngIf="d.order.user.address">{{ (d.order.user.address.length>20)? (d.order.user.address | slice:0:20)+'..':(d.order.user.address) }}</td>
                      <td *ngIf="!d.order.user.address"></td>
                      <td>{{d.order.total}}</td>
                      <td>
                        <img *ngIf="d.signature" [src]="d.signature" class="rounded mb-3" width="70em;">
                      </td>
                      <td>{{d.statusDelivery}}</td>
                      <td>
                        <button type="button" class="btn btn-warning" style="margin: 0.5em;" routerLink="./details/{{d.idDelivery}}">รายละเอียด
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </tab>
          </tabset>
        </div>
      </div>
      <div class="card-body" *ngIf="!isDelivery">
        <div class="row justify-content-center">
          <p>ไม่มีข้อมูล</p>
        </div>
      </div>
    </div>
  </div>
</div>